.container {
  display: flex;
  flex-wrap: wrap;
  background: var(--vuttr-color-darker-white);
  border: 1px solid var(--vuttr-color-darkest-white);
  border-radius: var(--vuttr-border-radius-special);
  min-height: var(--vuttr-size-field);
  cursor: text;
}

.input {
  border: none;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background-color: var(--vuttr-color-darker-white);
  height: var(--vuttr-size-field);
  font-size: var(--vuttr-font-size-special-s);
  font-weight: var(--vuttr-font-weight-regular);
  letter-spacing: 0.4px;
}

.tags {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.tag {
  display: flex;
  align-items: center;
  list-style: none;
  background: var(--vuttr-color-white);
  border: 1px solid var(--vuttr-color-darkest-white);
  border-radius: var(--vuttr-border-radius-special);
  height: var(--vuttr-size-tag);
  padding-left: var(--vuttr-spacing-special-button-bottom);
  padding-right: var(--vuttr-spacing-sm);
  overflow: hidden;
}

.tagLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: var(--vuttr-spacing-special-field-horizontal);
}

.tagInput {
  display: flex;
  width: auto;
  max-width: 100%;
  min-width: fit-content;
}

.tag.tagInput {
  background: none;
  flex-grow: 1;
  padding: 0;
}

.removeIcon {
  margin-right: 0;
}
