.headerActions {
  display: grid;
  grid-template-areas: 'search tagsOnly addButton';
  grid-template-columns: 260px auto 115px;
  align-items: center;
  padding-bottom: var(--vuttr-spacing-l);
}

.searchField {
  padding-bottom: 0;
}

.tagsCheckbox {
  padding-left: var(--vuttr-spacing-s);
}

.addIcon {
  transform: rotate(45deg);
}
