.mainContent {
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: calc(var(--vuttr-spacing-xxl) + var(--vuttr-spacing-xl));
  margin-bottom: calc(var(--vuttr-spacing-xl) + var(--vuttr-spacing-m));
}

@media (max-width: 768px) {
  .mainContent {
    padding: var(--vuttr-spacing-xxl);
  }
}
