.root {
  overflow: auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: var(--vuttr-spacing-l);
}

.header {
  padding-top: var(--vuttr-spacing-s);
  margin-bottom: calc(var(--vuttr-spacing-xl) + var(--vuttr-spacing-m));
}

@media (min-width: 780px) {
  .mainContent {
    padding: 0;
  }

  .header {
    padding-top: calc(var(--vuttr-spacing-xxl) + var(--vuttr-spacing-xl));
  }
}
