.container {
  position: relative;
  margin-bottom: var(--vuttr-spacing-xl);
}

.field {
  display: flex;
  height: var(--vuttr-size-field);
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.input {
  margin: 0;
  width: 100%;
  border: 1px solid var(--vuttr-color-darkest-white);
  border-radius: var(--vuttr-border-radius-special);
  height: var(--vuttr-size-field);
  padding: var(--vuttr-spacing-special-field-top) var(--vuttr-spacing-special-field-horizontal)
    var(--vuttr-spacing-special-field-bottom) var(--vuttr-spacing-special-field-horizontal);
  box-sizing: border-box;
  outline: none;
  background-color: var(--vuttr-color-darker-white);
  transition: all 200ms ease;
  font-size: var(--vuttr-font-size-special-field);
  font-weight: var(--vuttr-font-weight-regular);
  color: var(--vuttr-color-ink);
  caret-color: var(--vuttr-color-lighter-ink);
  letter-spacing: 0;
}

.input::-webkit-input-placeholder {
  color: var(--vuttr-color-lighter-ink);
}

.input:-ms-input-placeholder {
  color: var(--vuttr-color-lighter-ink);
}

.input::placeholder {
  color: var(--vuttr-color-lighter-ink);
}

.hasPrefixIcon .input {
  padding-left: calc(var(--vuttr-spacing-m) + var(--size-icon-l) + var(--vuttr-spacing-m));
}

.hasSufixIcon .input {
  padding-right: calc(var(--vuttr-spacing-m) + var(--size-icon-l) + var(--vuttr-spacing-m));
}

.prefixIcon,
.sufixIcon {
  position: absolute;
  left: var(--vuttr-spacing-m);
  display: flex;
  align-self: center;
  fill: var(--color-neutral-600);
}

.sufixIcon {
  left: unset;
  right: var(--vuttr-spacing-m);
}

.iconClickable {
  cursor: pointer;
}

.disabled .prefixIcon,
.disabled .sufixIcon {
  fill: var(--color-neutral-300);
}

.disabled .input {
  color: var(--color-neutral-300);
  border-color: var(--color-neutral-200);
}

.label {
  left: var(--vuttr-spacing-m);
  color: var(--vuttr-color-ink);
  font-weight: var(--vuttr-font-weight-semibold);
  font-size: var(--vuttr-font-size-special-field);
  padding-bottom: var(--vuttr-spacing-special-field-label);
  letter-spacing: 0.4px;
}

.hasPrefixIcon .label {
  left: calc(var(--vuttr-spacing-m) + var(--size-icon-l) + var(--vuttr-spacing-m));
}

.disabled .label {
  color: var(--color-neutral-300);
}

.supportText {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  margin: 0;
  padding: var(--spacing-xxs) var(--vuttr-spacing-m) 0;
  font: var(--font-field-support);
  color: var(--color-neutral-600);
}

.disabled .supportText {
  color: var(--color-neutral-300);
}

.focused .input {
  border-color: var(--vuttr-color-most-darkest-white);
  background-color: var(--vuttr-color-darkest-white);
}

.focused .input::-webkit-input-placeholder {
  color: var(--vuttr-color-light-ink);
}

.focused .input:-ms-input-placeholder {
  color: var(--vuttr-color-light-ink);
}

.focused .input::placeholder {
  color: var(--vuttr-color-light-ink);
}

.error,
.error .supportText,
.error .field .label {
  color: var(--color-danger-500);
}

.error .field .input {
  border-color: var(--color-danger-500);
  caret-color: var(--color-danger-500);
}
