.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--vuttr-border-radius-special);
  border: var(--vuttr-border-card);
  height: auto;
  padding: var(--vuttr-spacing-m);
  background: var(--vuttr-color-white);
}

.type-flat {
  box-shadow: var(--vuttr-shadow-flat);
}
.type-1 {
  box-shadow: var(--vuttr-shadow-elevation-1);
}
.type-2 {
  box-shadow: var(--vuttr-shadow-elevation-2);
}
.type-3 {
  box-shadow: var(--vuttr-shadow-elevation-3);
}
.type-4 {
  box-shadow: var(--vuttr-shadow-elevation-4);
}
