.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--vuttr-depth-modal);
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease, visibility 200ms ease, transform 200ms ease;
}

.opened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--vuttr-color-white);
  margin: 0;
  max-width: 600px;
  width: 100%;
  height: 100%;
  min-height: 120px;
  box-sizing: border-box;
  z-index: var(--vuttr-depth-modal);
  transform: scale(0.95);
  transition: opacity 200ms ease, visibility 200ms ease, transform 200ms ease;
  overflow: hidden;
}

.opened .wrapper {
  transform: scale(1);
}

.header {
  position: relative;
  display: grid;
  grid-template-areas: 'title close';
  grid-template-columns: auto 12px;
  padding: var(--vuttr-spacing-special-modal-header);
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: calc(var(--vuttr-spacing-xxs) + var(--vuttr-spacing-m));
}

.closeButton {
  grid-area: close;
  z-index: var(--vuttr-depth-base);
  height: var(--vuttr-spacing-sm);
  width: var(--vuttr-spacing-sm);
  padding: 0;
  margin: 0;
}

.closeButton > span {
  margin-right: 0;
}

.content {
  width: 100%;
  height: 100%;
  flex: 1;
  padding: var(--vuttr-spacing-xl);
  box-sizing: border-box;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scrollLocked {
  /* padding-right: calc(var(--vuttr-spacing-m) - 1px); */
  overflow-y: hidden;
}

@media (min-width: 600px) {
  .wrapper {
    border-radius: var(--vuttr-border-radius-special);
    max-height: 80vh;
    height: unset;
  }

  .content {
    height: unset;
    flex: unset;
  }
}

@media (min-width: 780px) {
  .container {
    background-color: var(--vuttr-color-purple-not-mapped);
  }

  .wrapper {
    margin: 0 auto;
    box-shadow: var(--vuttr-shadow-1);
    position: relative;
  }

  .opened .wrapper {
    position: relative;
  }
}
