.removeToolDialogue {
  height: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: calc(var(--vuttr-spacing-l) + var(--vuttr-spacing-l));
}

.confirmButton {
  margin-left: var(--vuttr-spacing-l);
}

@media (max-width: 768px) {
  .removeToolDialogue {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer {
    justify-content: space-between;
  }
}
