.cardsList {
  /* empty */
}

.toolCard {
  padding: var(--vuttr-spacing-l);
  margin-bottom: var(--vuttr-spacing-l);
  background-color: var(--vuttr-color-white);
  max-width: calc(100% - (2 * var(--vuttr-spacing-l)));
}

.header {
  display: grid;
  grid-template-areas: 'title remove';
  grid-template-columns: auto 87px;
}

.title {
  grid-area: title;
  margin-bottom: var(--vuttr-spacing-s);
}

.remove {
  grid-area: remove;
}

.removeButton {
  padding: 0 0 0 var(--vuttr-spacing-s);
}

.remove .removeButton > span {
  margin-right: var(--vuttr-spacing-s);
  display: flex;
  justify-content: flex-end;
}

.description {
  margin-bottom: var(--vuttr-spacing-m);
  line-height: 1.35;
  word-break: break-word;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.35;
}

.tag {
  font-weight: var(--vuttr-font-weight-semibold);
}

.tag:not(:last-child) {
  padding-right: var(--vuttr-spacing-s);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  background-color: var(--vuttr-color-white);
}

/** PlaceholderShimmer **/
.placeholderTitle {
  width: 50%;
  height: 26px;
}

.placeholderDescription {
  width: 100%;
  height: 18px;
}

.placeholderTags {
  width: 70%;
  height: 16px;
}
