.cardsList {
  /* empty */
}

.toolCard {
  padding: var(--vuttr-spacing-l);
  margin-bottom: var(--vuttr-spacing-l);
  background-color: var(--vuttr-color-white);
}

.title {
  margin-bottom: var(--vuttr-spacing-s);
}

.description {
  margin-bottom: var(--vuttr-spacing-m);
}

.tags {
  display: flex;
}

.tag {
  font-weight: var(--vuttr-font-weight-semibold);
}

.tag:not(:last-child) {
  padding-right: var(--vuttr-spacing-s);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  background-color: var(--vuttr-color-white);
}

/** PlaceholderShimmer **/
.placeholderTitle {
  width: 50%;
  height: 26px;
}

.placeholderDescription {
  width: 100%;
  height: 18px;
}

.placeholderTags {
  width: 70%;
  height: 16px;
}
